
.client-text{
	font-size:23px;
}
.gen-block{
	width:100%
	}
.img-block
{
	float:left;
	width:29%;
	margin:auto;
	
}
.data-block{
	float:right;
	margin:auto;
	text-align:center;
	Width:69%;
}
.wrapper{
	width:100%
}
h2{
	text-align:center;
}
.list{
	text-align:justify;
	float:left;
	width:29%;
	
	max-width:500px;
	min-width:200px;
	margin:auto;
	}
.data{
	float:right;
	text-align:center;
	Width:69%;
	
	max-width:935px;
	margin:auto;
	}
	.selected {
  background-color: #CFD8DC !important;
  color: white;
}
img{
	display:block;
	height:35px;
	width:35px;
	margin-right:5px
}
.client-block{
	height:30px;
}

