<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" rel="stylesheet" >
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap-flex.min.css" rel="stylesheet" >
<div class="wrapper">
	<div class="list">
		<ul class="list-group">
		<li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let user of users" [class.selected]="user === selectedUser" (click)="onSelect(user)">
			  <img src="{{user.general?.avatar}}" class="img">
				<p>{{user.general?.firstName | uppercase}}</p>
				<p>{{user.job?.title}}</p>
			</li>
			</ul>	
	</div>
              <div class="data">
					<app-clients-detail   [user]="selectedUser"></app-clients-detail>
				</div>  
            
</div>


  